
                                /* --------------------------------------------
                                                Google Font - Poppins
                                 -----------------------------------------------  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
                            /* ------------------------------------------------
                            Font Features And Font Family Apply In All Sections
                            ---------------------------------------------------  */
                                            /* Nav Section  */
.navbar-brand{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #4A4A4A;
}
.nav-item{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #777777;
}
.nav-button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #289BDE;
}
                                            /* Hero Section  */
.hero-banner h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 85px;
    text-align: center;
    color: #FFFFFF;
}
.hero-banner p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #F4F4F4;

}

                                            /* Course Section  */
.course-section-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
}
.course-section-description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.course-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #4A4A4A;
}
.course-description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
}
.course-price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #289BDE;
}
                                            /* Working Section  */
.working-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #1D1D1D;
}
.working-description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #777777;
}
.working-sub-description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #777777;
}
                                            /* Join section  */
.join-section{
    background: #289BDE;
}
.join-section h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #FFFFFF;
}
.join-section p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #F4F4F4;
}
                                            /* Successful Student  */
.student-section-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #1D1D1D;
}
.student-section-description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #777777;
}
.student-name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #4A4A4A;
}
.student-degnitation{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
}
                                            /* Student Feedback  */
.student-feedback-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #1D1D1D;
}
.student-feedback-description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #777777;
}
                                            /* FAQ Section  */
.faq-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #1D1D1D;
}
.faq-description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #777777;
}
.accordion-button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #4A4A4A;
}
.accordion-body{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #777777;
}
                                            /* Trust Company List Section  */
.trust-company-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #1D1D1D;
}
                                            /* Footer Section  */
footer{
    background: #161616;
}
.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}
.footer-text-1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #E8E8E8;
}
.footer-text-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 126%;
    text-align: center;
    color: #E8E8E8;
}
.fa-brands{
    color: #E8E8E8;
}
                            /* --------------------------------------------
                                            Website Buttons
                            -----------------------------------------------  */
#button-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    background: #289BDE;
}
.hero-banner button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.join-section button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #289BDE;
}
                            /* --------------------------------------------
                                            Font Awesome Icon
                            -----------------------------------------------  */
.fa-star{
    color: #FFD700;
}
.fa-star-half{
    color: #FFD700;
}
                            /* --------------------------------------------
                                Media Query For Working Section Adjustment
                            -----------------------------------------------  */
@media screen and (max-width:767px) {
    .working-image{
        height: 500px;
        width: 320px;
    }
}
@media screen and (min-width:768px) and (max-width: 1023px) {
    .working-image{
        height: 700px;
        width: 350px;
    }
    .working-content{
        width: 500px;
    }
}
